.App {
  max-width: 1800px;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
}

.AppHeader {
  background-color: #fff;
  margin: 15px;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: #352f2f;
  text-decoration: none;
  list-style: none;
  border-bottom: 2px solid #9c9c9c;
}

.NavLink {
  padding: 20px;
  text-decoration: none;
  font-weight: 700;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Form {
  margin-left: 20px;
}

.SearchFormInput {
  margin-left: 20px;
  font-size: 16px;
}
.SearchFormButton {
  font-size: 16px;
}
